body{
    color: #C2C2C2;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    box-sizing: border-box;
    overflow-x: hidden;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(65deg, #3a3d40 0%, #181719 100%  );
}

h1,h2{
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

.welcome-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
}

h2 {
    display: block;
    font-size: 4.2rem;
    font-weight: bold;
}

.projects-section-header {
    max-width: 640px;
    margin: 6rem auto 6rem auto;
    border-bottom: 0.2rem solid #C2C2C2
}

.projects-section {
    text-align: center;
    padding: 2rem 2rem;
    background: #7a2334;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

p {
    display: block;
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.project-title {
    font-size: 2rem;
    padding: 0 0.5rem;
}

img {
    display: block;
    width: 100%;
}

.project-image {
    height: calc(100% - 7rem);
    width: 100%;
    object-fit: cover;
}

.project {
    background: linear-gradient(65deg, #3a3d4026 0%, #181719 100%  );
    border-radius: 25px;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: linear-gradient(65deg, #3a3d40 0%, #181719 100%);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-section-header  h2 {
    font-size: 6rem;
}

.btn-show-all {
    font-size: 2rem;
    background: linear-gradient(65deg, #3a3d40 0%, #181719 100%  );
    transition: background 0.3s ease-out;
}
