#date-time{
    margin:20px 30px 30px ;
    text-align: center;
    color: #005cbf;
}
#form{
    padding: 20px;
    margin: 30px;
    border: 1px solid dodgerblue;
}
::placeholder{
    font-size: 12px;
}
#button-area{
    margin: 20px;
    text-align: center;
}
#result
{
    margin: 10px;
    height: 30px;
}
body{
    text-align: center;
}
#submit{
    border-radius: 3px;
    color:  #005cbf;
}
#notice{
    margin: 10px;
    color:  #005cbf;
}