body{
    direction: rtl;
    text-align: right;
    background-color: #97D2FF;

}

/*.form-check-input{
    display: inline-block;
    margin-right: 1.25rem;
}*/

.par{
    display: inline-block;
    margin-right: 1.25rem;
}

.container{
    margin-bottom: 20px;
}

.my_header{
    text-align: center;
}
button{
    margin: 0 auto;
}
